{% extends 'cars/base.html' %}
 {% block content %}
 {% load static %}
  <div class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
        <div class="page-title">
<h2>About Us</h2>
</div>
        </div>
      </div>
    </div>
  </div>
<!-- BEGIN Main Container -->  
          
       <div class="main-container col1-layout wow bounceInUp animated animated" style="visibility: visible;">     
              
	       <div class="main container"> 
           <div class="row">                    
                            <div class="std"><div class="wrapper_bl" style="margin-top: 1px;">
<div class="form_background">

<p>Creativity, innovation and transparancy is our unmistaken identity these qulities seat at the core of our identity as as company and as a brand . Tradebay is a subsidiary of bluewrist technologise specialising in the sell of new and used cars, spares and car accessories .Now you are probably wondering what makes tradebay buyers choice and why you should  choose us , our answer is simple we pride ourselves in the setisfaction of our customers and and mentioned above transparancy is one of the qualities that seat at the core of our identity as  a brand .Tradebay is lead by a team of motor enthuast with a deep  passion for motoring  </p>
<br>
<p>Our vosion is to be the leading provider of of used and new vihicles in Africa </p>
<br>
<p>At Tradebay we have we our moto "There is only one to do the job the right way" we do dont say this in vain but we created to to be faithful to our words by always doing our job the rigth way which is why our customer love tradeby so much.</p>
</div>
</div></div> 
</div>         
	       </div><!--main-container-->
          
          </div> <!--col1-layout-->
          
  

 
  <!-- For version 1,2,3,4,6 -->
    {% endblock content %}